name: Pytest Tests
env:
  API_HOST: ${{ vars.API_HOST }}
  API_KEY: ${{ secrets.API_KEY }}
  DD_API_KEY: ${{ secrets.DD_API_KEY }}
  DD_SITE: us5.datadoghq.com
  DD_ENV: staging
  DD_SERVICE: lilt-python
  DD_CIVISIBILITY_AGENTLESS_ENABLED: true

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, openapi-bindings ]
  workflow_dispatch:
  repository_dispatch:
    types: [staging-tests]

jobs:
  build:

    runs-on: gcp-runner

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r test-requirements.txt
    - name: Install datadog tracing library
      run: |
        pip install -U ddtrace
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
#        Exclude workflow_tests for now
#    - name: Test with pytest
#      run: |
#        pytest workflow_tests --ddtrace
